li::before {
  content: "\27A3";
  color: #00205b;
  font-weight: bold;
  padding-right: 10px;
}

@media only screen and (min-width: 30px) and (max-width: 767px) {
  .description-list {
    padding-left: 20%;
  }
}
