h1 {
    color: black;

  }
  
  body {
    text-align: center;
    
  }
  
  h3{
      text-align: center;
      font-family: Georgia, serif;
      text-decoration: underline;
  }
  
  h4{
      font-family: Georgia, serif;
      text-shadow: 1px 0.89px #0c045898;
  }
  
  section {
    margin-top: 25px;
    
  }
  
  article {
    width: 70%;
    
    border: 1px solid black;
    background-color: #8bdaff80;
    padding: 20px;
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 22px
  }
  
  p {
    font-size: 18px;
    
    line-height: 30px;
    text-align: justify;
    
  }
  .policySlide {
    left: -1200px;
    animation: policySlide 2s forwards;
  }
  
  @keyframes policySlide {
    100% {
      left: 0;
    }
    0% {opacity: 0;}
    10%{opacity: 0.10;}
    25%{opacity: 0.25;}
    50%{opacity: 0.50;}
    75%{opacity: 0.75;}
    100% {opacity: 1;}
  }
  
  
  