<div class="policySlide"  >
<section>

   
    <article>


        <h3><b> Privacy Policy for E-Learning Group </b> </h3>

        <br>

        <p><i><b>
            At E-Learning Group, accessible at wonderful-newton-47bf9a.netlify.app, one of our main priorities is the
            privacy of our visitors. This Privacy Policy document contains types of information that is collected and
            recorded by Website and how we use it.

            If you have additional questions or require more information about our Privacy Policy, Please contact us
            through email at ELearning@wonderful-newton.com
            <br>
            This privacy policy applies only to our online activities and is valid for visitors to our website with
            regards to the information that they shared and/or collect in Website Name. This policy is not applicable to
            any information collected offline or via channels other than this website.
        </b>
        </i>
        </p>



        <h4>1. Consent </h4>

        <p>

            By using our website, you hereby consent to our Privacy Policy and agree to its terms and conditions.

      

        </p>







        <h4> 2. Our Information Sharing Practices </h4>

        <p>

            E-Learning Group will provide you with the means to ensure that your Personal Information is correct and
            current. If you have filled out a user profile, it will provide an obvious way for you to access and change
            your profile from its Application/Website.E-Learning Group adopts stringent security measures to protect
            your password from being exposed or disclosed to anyone. Only upon you forgetting the password for its
            Application/Website or Services, E-Learning Group will have a right to reset the same to you with your prior
            approval as per standard web practices.

    
        </p>


        <h4> 3. Cookies and Web Beacons </h4>

        <p>

            Like any other website, E-Learning Group uses ‘cookies'. These cookies are used to store information
            including visitors' preferences, and the pages on the website that the visitor accessed or visited. The
            information is used to optimize the users' experience by customizing our web page content based on visitors'
            browser type and/or other information.
     
        </p>


    </article>

</section>
</div>
