<header
  [ngClass]="scrollStatus ? 'position-fixed' : 'position-relative'"
  class="w-100 text-center"
  #header
>
  <nav
    class="bg-dark-blue navbar navbar-expand-lg navbar-dark pt-3 pb-3 justify-content-sm-start"
  >
    <a class="navbar-brand order-0 pt-0 order-lg-0 ml-lg-0 ml-2 mr-auto">
      <img
        style="width: 157px;"
        src="../../../assets/siksha_durat.png"
        alt="eLearning logo"
    /></a>
    <button
      class="navbar-toggler border-0 mt-2 pt-1 align-self-start"
      (click)="sideNavStatus = !sideNavStatus"
      type="button"
    >
      <div *ngIf="sideNavStatus; else cross">
        <i class="text-light nav-icon fa fa-times"></i>
      </div>
      <ng-template #cross>
        <i class="fa fa-bars nav-icon text-light"></i>
      </ng-template>
    </button>

    <div
      [ngClass]="sideNavStatus ? 'open' : ''"
      class="collapse bg-dark-blue navbar-collapse mt-sm-9 mt-md-9 d-flex flex-column p-3 p-lg-0 flex-lg-row flex-xl-row justify-content-lg-end mobile-menu"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav align-self-stretch text-center text-sm-center text-md-left"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            View
          </a>
          <div
            class="dropdown-menu w-50 p-3 rounded-0 shadow-sm fade-in"
            aria-labelledby="navbarDropdown"
          >
            <a
              class="core-blue nav-link"
              routerLink="syllabus"
              (click)="sideNavStatus = !sideNavStatus"
              >View-Syllabus</a
            >
            <a
              class="core-blue nav-link"
              routerLink="view-sample-paper"
              (click)="sideNavStatus = !sideNavStatus"
              >View-Sample-papers</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Add
          </a>
          <div
            class="dropdown-menu w-50 p-3 rounded-0 shadow-sm fade-in"
            aria-labelledby="navbarDropdown"
          >
            <a
              class="core-blue nav-link"
              routerLink="class"
              (click)="sideNavStatus = !sideNavStatus"
              >Class</a
            >
            <a
              class="core-blue nav-link"
              routerLink="subject"
              (click)="sideNavStatus = !sideNavStatus"
              >Subject</a
            >
            <a
              class="core-blue nav-link"
              routerLink="topic"
              (click)="sideNavStatus = !sideNavStatus"
              >Topic</a
            >
            <a
              class="core-blue nav-link"
              routerLink="sample-paper"
              (click)="sideNavStatus = !sideNavStatus"
              >Sample-Paper</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="student"
            (click)="sideNavStatus = !sideNavStatus"
            >Students</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="profile"
            (click)="sideNavStatus = !sideNavStatus"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToConference()">Conference</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="settings"
            (click)="sideNavStatus = !sideNavStatus"
            >Settings</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="video-recoder"
            (click)="sideNavStatus = !sideNavStatus"
            >Video recoder</a
          >
        </li>
        <li class="pointer nav-item">
          <a class="nav-link" (click)="logout()"
            ><i
              class="logout-icon mr-1 text-light fa fa-sign-out"
              aria-hidden="true"
            ></i
          ></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
