<div>
  <div class="card px-2 px-md-3 py-4 shadow">
    <div class="row">
      <div class="col-12">
        <h5 class="mb-4 text-center"><b>Add New Teacher</b></h5>
      </div>
    </div>
    <form [formGroup]="teacherRegistrationForm" (ngSubmit)="registerTeacher()">
      <div class="row">
        <div class="mb-3 col-12 col-md-6">
          <input
            type="text"
            formControlName="firstName"
            class="form-control"
            placeholder="First Name"
            [ngClass]="{
              'is-invalid':
                (f.firstName.touched || f.firstName.dirty) && f.firstName.errors
            }"
          />

          <div
            *ngIf="
              (f.firstName.touched || f.firstName.dirty) && f.firstName.errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.firstName.errors.required">
              First Name is required*
            </div>
          </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
          <input
            type="text"
            formControlName="lastName"
            class="form-control"
            placeholder="Last Name"
            [ngClass]="{
              'is-invalid':
                (f.lastName.touched || f.lastName.dirty) && f.lastName.errors
            }"
          />

          <div
            *ngIf="
              (f.lastName.touched || f.lastName.dirty) && f.lastName.errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.lastName.errors.required">Last Name is required*</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-12 col-md-6">
          <input
            type="text"
            formControlName="relatorName"
            class="form-control"
            placeholder="Relator Name"
            [ngClass]="{
              'is-invalid':
                (f.relatorName.touched || f.relatorName.dirty) &&
                f.relatorName.errors
            }"
          />

          <div
            *ngIf="
              (f.relatorName.touched || f.relatorName.dirty) &&
              f.relatorName.errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.relatorName.errors.required">
              Relator's Name is required*
            </div>
          </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder=" Email"
            [ngClass]="{ 'is-invalid': f.email.touched && f.email.invalid }"
          />
          <div
            *ngIf="(f.email.touched || f.email.dirty) && f.email.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.pattern && f.email.touched">
              Email must be a valid email address
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-12 col-md-6">
          <input
            id="date"
            type="date"
            formControlName="dob"
            class="form-control"
            placeholder="DOB"
            [ngClass]="{
              'is-invalid': (f.dob.touched || f.dob.dirty) && f.dob.errors
            }"
          />
          <div
            *ngIf="(f.dob.touched || f.dob.dirty) && f.dob.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.dob.errors.required">Select Date</div>
          </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
          <input
            formControlName="mobile"
            type="text"
            class="form-control"
            placeholder="Mobile No."
            [ngClass]="{
              'is-invalid': f.mobile.touched && f.mobile.invalid
            }"
          />
          <div
            *ngIf="(f.mobile.touched || f.mobile.dirty) && f.mobile.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.mobile.errors.required">Enter Mobile Number</div>
            <div *ngIf="f.mobile.errors.pattern && f.mobile.touched">
              Enter a valid Mobile Number
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12 col-md-6">
          <input
            type="text"
            formControlName="addressLineOne"
            id="two"
            class="form-control"
            placeholder="Address Line 1"
            [ngClass]="{
              'is-invalid':
                (f.addressLineOne.touched || f.addressLineOne.dirty) &&
                f.addressLineOne.errors
            }"
          />

          <div
            *ngIf="
              (f.addressLineOne.touched || f.addressLineOne.dirty) &&
              f.addressLineOne.errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.addressLineOne.errors.required">
              Address is required*
            </div>
          </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
          <input
            type="text"
            formControlName="addressLineTwo"
            id="three"
            class="form-control"
            placeholder="Address Line 2"
            [ngClass]="{
              'is-invalid':
                (f.addressLineTwo.touched || f.addressLineTwo.dirty) &&
                f.addressLineTwo.errors
            }"
          />

          <div
            *ngIf="
              (f.addressLineTwo.touched || f.addressLineTwo.dirty) &&
              f.addressLineTwo.errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.addressLineTwo.errors.required">
              Address is required*
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-12 col-md-6">
          <input
            formControlName="city"
            type="text"
            class="mr-2 form-control"
            placeholder="City"
            [ngClass]="{
              'is-invalid': (f.city.touched || f.city.dirty) && f.city.errors
            }"
          />

          <div
            *ngIf="(f.city.touched || f.city.dirty) && f.city.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.city.errors.required">Enter City</div>
          </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
          <input
            formControlName="state"
            type="text"
            class="mr-2 form-control"
            placeholder="State"
            [ngClass]="{
              'is-invalid': (f.state.touched || f.state.dirty) && f.state.errors
            }"
          />
          <div
            *ngIf="(f.state.touched || f.state.dirty) && f.state.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.state.errors.required">Enter State</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-12 col-md-6">
          <input
            formControlName="postalCode"
            type="text"
            class="form-control"
            placeholder="Postal Code"
            [ngClass]="{
              'is-invalid': f.postalCode.touched && f.postalCode.invalid
            }"
          />
          <div
            *ngIf="
              (f.postalCode.touched || f.postalCode.dirty) &&
              f.postalCode.errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="f.postalCode.errors.required">Enter PostalCode</div>
            <div *ngIf="f.postalCode.errors.pattern && f.postalCode.touched">
              Enter a valid Postal Code
            </div>
          </div>
        </div>
        <div class="mb-3 col-12 col-md-6">
          <select
            class="form-control"
            formControlName="gender"
            [ngClass]="{
              'is-invalid':
                (f.gender.touched || f.gender.dirty) && f.gender.errors
            }"
          >
            <option value="" disabled selected>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div
            *ngIf="(f.gender.touched || f.gender.dirty) && f.gender.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.gender.errors.required">Select Gender</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="text-center">
          <button
            [disabled]="teacherRegistrationForm.invalid"
            class="btn btn-primary btn-md mr-3"
          >
            Add Teacher
          </button>

          <button type="reset" class="btn btn-info btn-md ml-3">
            Clear Data
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
