.btnNotes {
  background-color: #4d5656;
}

.card-header {
  background-color: #204971;
}

.card-outer {
  background-color: #97a6ad;
  border-radius: 1em;
}

@keyframes navSlide {
  100% {
    bottom: 0;
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.25;
  }
  35% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

.formSlide {
  animation: formSlide 1s forwards;
}

@keyframes formSlide {
  100% {
    bottom: 0;
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.25;
  }
  35% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

.overlay {
  border: 10px solid #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
  transition: 0.5s ease;
}

.text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.inside div:after {
  content: "\f077";
  position: absolute;
  font-family: "FontAwesome";
  right: 0.5em;
  top: 0.5em;
  font-size: 1.3em;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.inside.collapsed div:after {
  transform: rotate(180deg);
  transition: all 0.5s;
}
