<div class="col-sm-12 mt-3 formSlide" id="data">
  <div class="overlay mt-n2 pt-1" *ngIf="showoverlay" #overlay>
    <app-notes-board
      [noteHeading]="noteHeading"
      [noteDescription]="noteDescription"
    ></app-notes-board>
  </div>
  <div class="card-shadow mb-2 bg-white" *ngIf="!showoverlay">
    <div class="tab-content">
      <div id="class1" class="tab-pane active">
        <div class="card-body p-0">
          <div id="accordion">
            <div
              class="card mb-2"
              *ngFor="
                let subject of resultForSyllabusAndSamplePaper;
                let i = index
              "
            >
              <a
                class="inside card-link collapsed text-white"
                data-toggle="collapse"
                href="#collapse{{ i }}"
              >
                <div
                  class="card-header border-bottom-0 border-left text-center"
                >
                  {{ subject.subject_name | titlecase }}
                </div>
              </a>
              <div
                id="collapse{{ i }}"
                class="collapse"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <ul
                    [hidden]="!getStatus()"
                    *ngFor="let topic of subject.topics"
                  >
                    <li class="mt-2">
                      {{ topic.topic_name }}
                      <button
                        class="btn btnNotes text-white p-1 float-right"
                        [disabled]="topic.notes.length == 0"
                        (click)="showNotes(topic.notes[0])"
                      >
                        View notes
                      </button>
                      <div class="dropdown float-right">
                        <div class="dropdown-content p-2"></div>
                      </div>
                    </li>
                  </ul>

                  <ul
                    [hidden]="getStatus()"
                    *ngFor="let paper of subject.samplePapers"
                  >
                    <li class="mt-2">
                      {{ paper.sample_paper_name }}
                      <a
                        class="btn btn-secondary ml-2"
                        href="{{ paper.sample_paper_url }}"
                        target="_blank"
                      >
                        View
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <button
                class="btn btn-light"
                [disabled]="
                  (subject.topics || subject.samplePapers).length >= 1
                "
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
