<div class="container">
  <div class="blackboard">
    <div *ngIf="loaded" class="d-flex align-items-center text-white m-2">
      <strong>Loading...</strong>
      <div class="spinner-border ml-auto"></div>
    </div>
    <div
      class="text-white px-2 px-md-3 pt-4 pt-md-4 pb-2 pb-md-3"
      *ngIf="!loaded"
    >
      <div>
        <div class="row text-center">
          <div *ngIf="className" class="col-12 col-md-6">
            <label class="heading ml-lg-5 mb-0 float-lg-left"
              ><h2>Class : {{ className }}<sup>th</sup></h2></label
            >
          </div>
          <div *ngIf="subjectName" class="col-12 col-md-6">
            <label class="heading mb-0 mr-lg-5 float-lg-right"
              ><h2>{{ subjectName }}</h2></label
            >
          </div>
        </div>
      </div>
      <div class="text-center text-lg-left">
        <p *ngIf="topicName" class="mb-0 text-center">
          <label
            ><h3 class="heading mb-0">
              <p class="mb-1">
                <u>{{ topicName }}</u>
              </p>
            </h3></label
          >
        </p>
        <p>
          <label><h3 class="heading mb-0">Title:</h3></label
          ><span class="description ml-2"> {{ noteHeading }} </span>
        </p>
        <p>
          <label><h3 class="heading mb-0">Description:</h3></label>
          <span class="description ml-2">{{ noteDescription }}</span>
        </p>
      </div>
      <div *ngIf="!className" class="text-right">
        <button type="button" class="btn btn-danger">Close</button>
      </div>
    </div>
  </div>
</div>
