<app-home-header></app-home-header>
<div class="container-fluid bg-cover">
  <div class="display d-flex justify-content-center pt-4 pb-4">
    <div
      class="br-20 formSlide col-md-7 shadow animate_animated animate_bounceInDown bg-white"
    >
      <div class="row">
        <div class="card-body">
          <div class="col-sm-3offset-sm-2">
            <p class="h2 text-center mb-3">
              Registration
            </p>
            <form [formGroup]="schoolRegisterForm">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-users" aria-hidden="true"></i
                  ></span>
                </div>
                <input
                  type="text"
                  formControlName="schoolName"
                  class="form-control"
                  placeholder="School Name"
                  [ngClass]="{
                    'is-invalid': f.schoolName.touched && f.schoolName.errors
                  }"
                />
                <div
                  *ngIf="f.schoolName.touched && f.schoolName.errors"
                  class="invalid-feedback"
                >
                  <div class="ml-5" *ngIf="f.schoolName.errors.required">
                    School Name is required*
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6" style="margin-bottom: 1px">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-user" aria-hidden="true"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      placeholder="Admin Name"
                      formControlName="adminName"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': f.adminName.touched && f.adminName.errors
                      }"
                    />
                    <div
                      *ngIf="f.adminName.touched && f.adminName.errors"
                      class="invalid-feedback"
                    >
                      <div class="ml-5" *ngIf="f.adminName.errors.required">
                        Admin Name is required*
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom: 1px">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-address-book" aria-hidden="true"></i
                      ></span>
                    </div>

                    <input
                      type="text"
                      placeholder="Admin Aadhar"
                      formControlName="adminAdhar"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          f.adminAdhar.touched && f.adminAdhar.errors
                      }"
                    />
                    <div
                      *ngIf="f.adminAdhar.touched && f.adminAdhar.errors"
                      class="invalid-feedback"
                    >
                      <div class="ml-5" *ngIf="f.adminAdhar.errors.required">
                        Admin Aadhar is required*
                      </div>
                      <div class="ml-5" *ngIf="f.adminAdhar.errors.pattern">
                        Admin Aadhar is not valid*
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6" style="margin-bottom: 1px">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-book" aria-hidden="true"></i
                      ></span>
                    </div>

                    <select
                      type="text"
                      placeholder="School Type"
                      formControlName="schoolType"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          f.schoolType.touched && f.schoolType.errors
                      }"
                    >
                      <option value="" disabled selected>
                        Select School Type
                      </option>
                      <option value="cbse">CBSE</option>
                      <option value="mp">State Board</option>
                      <option value="icse">ICSE</option>
                    </select>
                    <div
                      *ngIf="f.schoolType.touched && f.schoolType.errors"
                      class="invalid-feedback"
                    >
                      <div class="ml-5" *ngIf="f.schoolType.errors.required">
                        School Type is required*
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6" style="margin-bottom: 1px">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      formControlName="schoolRegistrationNo"
                      placeholder="School Registration No."
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          f.schoolRegistrationNo.touched &&
                          f.schoolRegistrationNo.errors
                      }"
                    />
                    <div
                      *ngIf="
                        f.schoolRegistrationNo.touched &&
                        f.schoolRegistrationNo.errors
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="ml-5"
                        *ngIf="f.schoolRegistrationNo.errors.required"
                      >
                        Registration No. is required*
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  type="text"
                  formControlName="email"
                  placeholder="School Email"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': f.email.touched && f.email.errors
                  }"
                />
                <div
                  *ngIf="f.email.touched && f.email.errors"
                  class="invalid-feedback"
                >
                  <div class="ml-5" *ngIf="f.email.errors.required">
                    School Email is required*
                  </div>
                  <div class="ml-5" *ngIf="f.email.errors.pattern">
                    School Email must be a valid email address
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6" style="margin-bottom: 1px">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      formControlName="adminContactNo"
                      placeholder="Admin Mobile No."
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          f.adminContactNo.touched && f.adminContactNo.errors
                      }"
                    />
                    <div
                      *ngIf="
                        f.adminContactNo.touched && f.adminContactNo.errors
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="ml-5"
                        *ngIf="f.adminContactNo.errors.required"
                      >
                        Admin mobile number is required*
                      </div>
                      <div class="ml-5" *ngIf="f.adminContactNo.errors.pattern">
                        Mobile number must be 10 digits
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6" style="margin-bottom: 1px">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                      </span>
                    </div>

                    <input
                      type="text"
                      formControlName="schoolContactNo"
                      placeholder="School mobile No."
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          f.schoolContactNo.touched &&
                          f.schoolContactNo.errors
                      }"
                    />
                    <div
                      *ngIf="
                        f.schoolContactNo.touched && f.schoolContactNo.errors
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="ml-5"
                        *ngIf="f.schoolContactNo.errors.required"
                      >
                        School contact no is required*
                      </div>
                      <div
                        class="ml-5"
                        *ngIf="f.schoolContactNo.errors.pattern"
                      >
                        Mobile number must be 10 digits
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6" style="margin-bottom: 1px">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-key" aria-hidden="true"></i>
                      </span>
                    </div>

                    <input
                      type="password"
                      formControlName="password"
                      placeholder="Password"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': f.password.touched && f.password.errors
                      }"
                    />
                    <div
                      *ngIf="f.password.touched && f.password.errors"
                      class="invalid-feedback"
                    >
                      <div class="ml-5" *ngIf="f.password.errors.required">
                        Password is required*
                      </div>
                      <div class="ml-5" *ngIf="f.password.errors.pattern">
                        Password must contain a lowercase, a uppercase, a digit
                        and a special symbol
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6" style="margin-bottom: 1px">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-key" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input
                      type="password"
                      formControlName="confirmPassword"
                      placeholder="Confirm Password"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          f.confirmPassword.touched && f.confirmPassword.errors
                      }"
                    />
                    <div
                      *ngIf="
                        f.confirmPassword.touched && f.confirmPassword.errors
                      "
                      class="invalid-feedback"
                    >
                      <div
                        class="ml-5"
                        *ngIf="f.confirmPassword.errors.required"
                      >
                        Confirm password is required*
                      </div>
                      <div
                        class="ml-5"
                        *ngIf="f.confirmPassword.errors.mustMatch"    
                      >
                        Passwords must match
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-primary btn-lg btn-block register-btn mb-2"
                (click)="registerSchool()"
                [disabled]="!this.schoolRegisterForm.valid"
              >
                Register
              </button>
              <div>
                <p class="login-card-footer-text text-center">
                  Already Registered?
                  <a
                    type="button"
                    tabIndex="0"
                    class="light-blue font-italic"
                    routerLink="home"
                    >Login</a
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-home-footer></app-home-footer>
