<div class="slide" id="my">
  <div class="btext">
    <span
      style="
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 1.14;
        color: #fff;
        border-bottom: 3px solid yellow;
      "
      >OUR PRIVACY POLICY</span
    >
  </div>
  <div class="innerdiv1"></div>
</div>

<div class="content">
  <h2>Introduction</h2>
  <p>
    Your privacy is important to us. We believe it is important for you to know
    what personal data we, <b>Tata Consultancy Services </b>(“TCS” or “we”),
    collect from you (and third parties), why we collect it, how we use it and
    what rights you might be entitled to as a data subject or consumer.
  </p>
  <p>
    <b>For residents (data subjects) of the European Union</b>, when we collect
    and use personal data (information) about you, we may be subject to the
    General Data Protection Regulation (‘<b>GDPR’</b>) of the European Union and
    responsible as a ‘data controller’ for such personal data.
  </p>
  <p>
    <b>For residents (consumers) of the United States</b>, when we collect and
    use personal information about you, we may be subject to the California
    Consumer Protection Act (<b>CCPA</b>) and responsible as a ‘business’ or
    ‘service provider’ for such personal data.
  </p>
  <p>
    <u
      >Please note: all information in this privacy notice is applicable to you
      unless otherwise indicated based on your residency status. If you are a
      resident of the European Union, references to <b>GDPR </b>will be
      applicable to you. If you are a resident of the Unites States, references
      to the <b>CCPA</b> will be applicable to you.</u
    >
  </p>
  <p>
    We are required under data protection legislation to notify you of the
    information contained in this privacy notice. It is important that you read
    this notice, together with any additional and more specific information we
    may provide to you on various occasions when we are collecting or processing
    personal data on certain specific websites, products or applications, events
    and initiatives so that you are aware of how and why we are using such
    information. (We issue a different privacy statement which applies where
    there is an employment relationship between TCS and its employees.)
  </p>
  <h2>How we will use your personal information</h2>
  <p>
    We may collect different kinds of personal information in a number of
    different ways and use it for a number of different purposes:
  </p>
  <ul>
    <li>
      <p>
        <b>To ensure access to our website and online services.<br /> </b>In
        general, you can visit TCS on the World Wide Web without telling us who
        you are. Our web servers or Affiliates who provide analytics and
        performance enhancement services may collect:
      </p>
      <ul>
        <li><p>IP addresses,</p></li>
        <li><p>operating system details,</p></li>
        <li><p>browsing details,</p></li>
        <li><p>device and connectivity details, and/or</p></li>
        <li><p>language settings.</p></li>
      </ul>
    </li>
  </ul>
  <p>
    This information is aggregated to measure the number of visits, average time
    spent on the site, pages viewed and similar information. TCS uses this
    information to measure the site usage, improve content and to ensure safety
    and security as well as enhance performance and user experience of the
    website. In few situations, you are required to register to access a
    reserved area of the website: in these cases, we will also collect your
    username and the password.
  </p>
  <p>We may also obtain data from third parties including:</p>
  <ul>
    <li>
      <i>Social networks</i>, when you grant permission to us to access your
      data on one or more networks through our website.
    </li>
    <li>
      <i>Service providers</i>&nbsp;that help us determine a location based on
      your IP address in order to customize offerings and content to your
      location.
    </li>
    <li>
      <i>Partners</i>&nbsp;with which we offer co-branded services or engage in
      joint marketing activities.
    </li>
  </ul>
  <p>&nbsp;</p>
  <p>
    TCS uses cookies (small text files placed on your device) and similar
    technologies to facilitate proper functioning of our websites and to help
    collect data: <a>please read here our full cookie policy</a>. Please note
    that our websites may include links to websites of third parties whose
    privacy practices differ from those of TCS; if you provide personal data to
    any of those websites, your data is governed by their privacy statements.
  </p>
  <p>
    Under the <b>GDPR</b>, the lawful basis for this processing is our
    <i>legitimate interest</i> in enabling and improving our website and online
    services, or <i>consent</i>, where requested and obtained.
  </p>
  <ul>
    <li>
      <p><b>To answer your queries, support and contact requests.</b></p>
    </li>
  </ul>
  <p>
    If you contact us with queries, requests for more information about
    initiatives or products or other generic support inquiries, we will need to
    collect information about you such as:
  </p>
  <ul>
    <li>
      personal and contact details, like full name, company and role, email
      address,
    </li>
    <li>demographic data,</li>
    <li>qualifications and profession, and/or</li>
    <li>the content of your messages to us.</li>
  </ul>
  <p>&nbsp;</p>
  <p>
    For information about managing your contact data, email subscriptions and
    promotional communications, please use the form at the bottom of this page
    or contact our Data Protection Officers or Chief Privacy Officer (see
    contact details below).<br />
    <br />
    Under the <b>GDPR </b>the lawful basis for this processing may be for the
    <i>performance of a contract with you</i> or to take steps at your request
    before entering into a contract with you, or for our
    <i>legitimate interests</i> in behaving as a responsible organization in
    dealing with these matters, or <i>consent</i>, where requested and obtained.
  </p>
  <ul>
    <li>
      <p><b>Subscriptions to our promotional communications</b></p>
    </li>
  </ul>
  <p>
    If you sign up to receive promotional communications from TCS we may send
    these by email, SMS/text messages, post, telephone or any other means of
    communication. For information about managing your contact data, you may
    reach out to the contact details provided in the event privacy notice or in
    the emails you receive, use the form at the bottom of this page or contact
    our Data Protection Officers or Chief Privacy Officer (see contact details
    below).
  </p>
  <p>
    Under the <b>GDPR </b>the lawful basis for this processing is the consent,
    where requested and obtained.
  </p>
  <ul>
    <li>
      <p>
        <b>To administer events and activities.<br /> </b>TCS frequently
        organizes events and initiatives, either free to join or by invitation
        only; in these cases, this privacy statement applies to both
        participants and speakers, together with any other supplementary
        information that is provided in relation with each event. To allow
        participants to join the events (including communications pre and post
        event), we are required to collect and process a limited amount of
        information, such as:
      </p>
      <ul>
        <li><p>full name,</p></li>
        <li>
          <p>company, job title and business email address,</p>
        </li>
        <li><p>telephone number,</p></li>
        <li><p>location, and/or</p></li>
        <li><p>pictures and video of you.</p></li>
      </ul>
    </li>
  </ul>
  <p>
    Where a hospitality service is provided, we may also collect, store and
    process “special categories” of more sensitive personal data, such as
    information regarding any dietary requirements or personal disabilities.
    This will be done only and to the extent permitted by the law. Events might
    be recorded hence pictures and video of you may be collected too; in such
    case, you will be informed via a specific notice at the location of
    recording. This material can be used later by TCS for further compatible
    purposes if you don't object to it. In the course of these events we may
    collect your personal data and contact you again in order to receive
    feedback and provide further commercial information about TCS; this will be
    done with your consent, when necessary.
  </p>
  <p>We may also obtain data from third parties including:</p>
  <ul>
    <li>
      &nbsp;Third party event organizers where the event is sponsored by TCS.
      Organizers might provide the attendee list. In such cases the privacy
      policy of those third parties to which you provide your personal data will
      apply to you.
    </li>
  </ul>
  <p>&nbsp;</p>
  <p>
    Under the <b>GDPR </b>the lawful bases for this processing is our<i>
      legitimate interest </i
    >in organizing and running such events, or consent, where requested and
    obtained.
  </p>
  <ul>
    <li>
      <b
        >To manage, administer and fulfill the obligations under contracts, and
        regulations</b
      ><br />
      Where TCS is in a contractual relationship with you (other than an
      employment relationship), your employer, your company or we are taking
      steps to enter into such a contractual relationship, we will need to
      process your personal information, usually limited to name, business
      contact details and job title in order to enter into and/or fulfill the
      obligations arising from the same contract, such as providing you or your
      employer or company with the services you have requested or make use of
      the services that you or your employer or company are offering to us. We
      will also process such personal data for ancillary tasks related to our
      daily business activities, such as accounting, auditing, reporting (to
      regulators and authorities) and to comply with applicable regulations.
    </li>
  </ul>
  <p>&nbsp;</p>
  <p>
    Under the&nbsp;<b>GDPR&nbsp;</b>and depending on the processing activity,
    the lawful bases for this processing may be for the&nbsp;<i
      >performance of a contract with you</i
    >&nbsp;or to take steps at your request before entering into a contract with
    you, our&nbsp;<i>legitimate interest</i>&nbsp;in providing services to your
    company or employer, or&nbsp;<i>legal obligation</i>.
  </p>
  <ul>
    <li>
      <p>
        <b
          >To promote the TCS brand, products, initiatives and values with
          marketing communications.<br /> </b
        >TCS has a strong interest in promoting its brand, products, initiatives
        and values. We may send you marketing communications through different
        channels, such as email, texts, phone calls or regular mail; to do so,
        we might use your contact details which were previously collected in the
        context of an event, a query sent by you or through the navigation on
        our websites. We may also obtain your personal information from third
        parties, such as business partners, data brokers, social networks,
        publicly available sources and marketing companies. In such cases, we
        will also comply with any additional restrictions imposed by the source
        of the data. If required by applicable legislation, we will ask for your
        consent separately before sending any marketing communications. You can
        opt-out of receiving such communications at any time using the form at
        the bottom of this page, writing to our Data Protection Officers or
        Chief Privacy Officer (see section below) or by any other given method
        provided from time to time (for example: unsubscribe link included at
        the bottom of emails).
      </p>
    </li>
  </ul>
  <p>
    <br />
    From time to time, we may use your name, quotes, pictures or videos to
    promote and amplify TCS’ brand and activities. In any such case, you will
    receive appropriate additional information about the usage of your personal
    data.<br />
    <br />
  </p>
  <p>
    Under the <b>GDPR </b>the lawful basis for this processing are TCS’
    <i>legitimate interests </i>in promoting its brand, products, initiatives
    and values, or <i>consent</i>, where requested and obtained.
  </p>
  <p>
    If you do not provide certain information when requested, it may delay or
    prevent us from administering a service you requested from us, replying to
    your queries and/or letting you join our initiatives.
  </p>
  <p>
    We will only use your personal data for the purposes for which we collected
    it, unless we reasonably consider that we need to use it for another reason
    that is compatible with the original purpose and applicable law. If we need
    to use your personal data for an unrelated purpose, we will notify you and
    we will explain the legal basis which allows us to do so.
  </p>
  <p>
    Please note that we may process your personal data without your knowledge or
    consent, in compliance with the above rules, where this is required or
    permitted by law.
  </p>
  <h2>How we will share your personal information</h2>
  <p>
    We may share your data with third parties, including third-party service
    providers and other entities in the TCS Group. Please note, TCS has not in
    the past, nor does it currently, under any circumstances buy or sell your
    personal data from or to any third party. Further, TCS does not use your
    personal data for any other purpose (as outlined below) unless required to
    fulfill a legitimate business purpose.
  </p>
  <p><b>Why might you share my personal data with third parties?</b></p>
  <p>
    We may share your personal data with third parties where required by law,
    where it is necessary for one of the activities mentioned above or where we
    have another legitimate legal basis in doing so. We require third parties to
    respect the security of your data and to treat it in accordance with the
    law. Where required by the law, we will request your consent before
    transferring data to third parties which are not part of the TCS Group.
  </p>
  <p><b>Which third-party service providers process my personal data?</b></p>
  <p>
    ”Third parties” includes third-party service providers (including
    contractors and designated agents) and other entities within our group. The
    following activities may be carried out by third-party service providers:
    hosting and other internet services, data storage and analytics, marketing
    research and campaign management, event organizers and caterers. All our
    third-party service providers are required to take appropriate security
    measures to protect your personal data in line with our policies. We do not
    allow our third-party service providers to use your personal data for their
    own purposes. We only permit them to process your personal data for
    specified purposes and in accordance with our instructions. We may also need
    to share your personal data with regulators or to otherwise comply with the
    law.
  </p>
  <p>
    <b
      >When might you share my personal data with other entities in the
      group?</b
    >
  </p>
  <p>
    We may share your personal data with other entities in the TCS Group as part
    of our regular reporting activities on company performance, in the context
    of a business reorganization or group restructuring exercise, for system
    maintenance support and hosting of data and when it is required to do so in
    order to perform one of the activities listed above (see "How we will use
    information about you"). Other entities in the TCS Group are required to
    take appropriate security measures to protect your personal data in line
    with our policies.
  </p>
  <p>
    <b>Transferring EU Data Subject information outside the EU/EEA for GDPR</b>
  </p>
  <p>
    We may transfer the personal data we collect about you to one of more
    countries outside the EU/EEA, including India, in order to perform one of
    the activities listed above (see "How we will use information about you").
    Where there isn't an adequacy decision by the European Commission in respect
    of those countries - meaning that these are not deemed to provide an
    adequate level of protection for your personal data - we have put in place
    the appropriate measures to ensure that your personal data will be secure.
    These measures include Data Transfer Agreements based on the European
    Commission's Standard Contractual Clauses. If you require further
    information about these protective measures, you can request it from our
    Data Protection Officers (see contacts below).
  </p>
  <h2>How we will keep your information safe</h2>
  <p>
    We have put in place appropriate technical, organizational and security
    measures to prevent your personal data from being accidentally lost, used or
    accessed in an unauthorized way, altered or disclosed. In addition, we limit
    access to your personal data to those employees, agents, contractors and
    other third parties who have a business need to know. They will only process
    your personal data on our instructions and they are subject to a duty of
    confidentiality.&nbsp;
  </p>
  <p>
    We have put in place procedures to deal with any suspected data security
    breach and will notify you and any applicable regulator of a suspected
    breach where we are legally required to do so.
  </p>
  <h2>How long we will keep your information</h2>
  <p>
    We will only retain your personal data for as long as necessary to fulfil
    the purposes we collected it for, including for the purposes of satisfying
    any legal, accounting, or reporting requirements. Details of retention
    periods for different aspects of your personal data are available in our
    retention policy upon request from our Data Protection Officers (see contact
    details below). To determine the appropriate retention period for personal
    data, we consider the amount, nature and sensitivity of the personal data,
    the potential risk of harm from unauthorized use or disclosure of your
    personal data, the purposes for which we process your personal data and
    whether we can achieve those purposes through other means, and the
    applicable legal requirements.
  </p>
  <p>
    In some circumstances we may anonymize your personal data so that it can no
    longer be associated with you, in which case we may use such information
    without further notice to you.
  </p>
  <h2>How to contact us</h2>
  <p>
    If you have a privacy concern, complaint or a question regarding this
    privacy statement, please direct it to the Chief Privacy Officer of Tata
    Consultancy Services at <a>cpo@com</a> or contact us through the form at
    <a>https:contact-us</a>.
  </p>
  <p>
    For the purposes of the your data processed under this statement, the
    controller (under <b>GDPR</b>) or business/service provider (under
    <b>CCPA</b>) for the data processing of your personal information collected
    through our websites is <b>Tata Consultancy Services Limited</b>, TCS House,
    2nd Floor, Raveline Street, Fort Mumbai 400 001, India. For all the other
    purposes indicated above, the controller (under <b>GDPR</b>) or
    business/service provider (under <b>CCPA</b>) is the same entity unless
    indicated otherwise in other privacy statement communicated in each
    situation.
  </p>
  <h2>Rights of EU data subjects under <b>GDPR</b></h2>
  <p>
    If the processing of your personal information is subject to the EU General
    Data Protection Regulation ("<b>GDPR</b>") (or any United Kingdom
    replacement legislation), you are entitled to the rights listed below.
  </p>
  <p><b>Your duty to inform us of changes</b></p>
  <p>
    It is important that the personal data we hold about you is accurate and
    current. Please keep us informed if your personal data changes during your
    relationship with us.
  </p>
  <p><b>Your rights in connection with personal data</b></p>
  <p>Under certain circumstances, by law you have the right to:</p>
  <ul>
    <li>
      <p>
        <b>Request access </b>to your personal data (commonly known as a “data
        subject access request”). This enables you to receive a copy of the
        personal data we hold about you.
      </p>
    </li>
    <li>
      <p>
        <b>Request correction </b>of the personal data that we hold about you.
        This enables you ask us to have any incomplete or inaccurate information
        we hold about you corrected.
      </p>
    </li>
    <li>
      <p>
        <b>Request erasure </b>of your personal data. This enables you to ask
        us, in certain situations, to delete or remove personal data where there
        is no good reason for us continuing to process it. You also have the
        right to ask us to delete or remove your personal data where you have
        exercised your right to object to processing (see below).
      </p>
    </li>
    <li>
      <p>
        <b>Object to processing </b>of your personal data where we are relying
        on a legitimate interest (or those of a third party) and there is
        something about your particular situation which makes you want to object
        to processing on this ground. You also have the right to object where we
        are processing your personal data for direct marketing purposes.
      </p>
    </li>
    <li>
      <p>
        <b>Request the restriction of processing </b>of your personal data. This
        enables you to ask us, in certain circumstances, to suspend the
        processing of personal data about you, for example if you want us to
        establish its accuracy or the reason for processing it.
      </p>
    </li>
    <li>
      <p>
        <b>Data portability: </b>This enables you to ask us, in certain
        circumstances, to provide you with the personal data you have provided
        to us in a structured, commonly used and machine-readable format or to
        transmit the personal data that you have provided to us to another
        party.
      </p>
    </li>
    <li>
      <p>
        <b>Automated decision-making: </b>The right not to be subject to a
        decision based solely on automated processing that produces legal
        effects concerning you or similarly significantly affects you.
      </p>
    </li>
  </ul>
  <p>
    If you are an EU or United Kingdom resident and want to exercise a data
    subject right in connection to your personal data, please contact our Data
    Protection Officers for the EU or United Kingdom (see contacts below).
  </p>
  <p>&nbsp;</p>
  <h2>Rights of US Consumers under the <b>CCPA</b></h2>
  <p>
    If the processing of your personal information is subject to the CCPA, you
    are entitled to the rights listed below.
  </p>
  <p><b>Changes to your personal data</b></p>
  <p>
    It is important that the personal data we hold about you is accurate and
    current. Please keep us informed if your personal data changes during your
    relationship with us.
  </p>
  <p><b>Your rights in connection with personal data</b></p>
  <p>Under certain circumstances, by law you have the right to:</p>
  <ul>
    <li>
      <p>
        <b>Request access </b>to your personal data. This enables you to receive
        a copy of the personal data we hold about you.
      </p>
    </li>
    <li>
      <p>
        <b>Request erasure </b>of your personal data. This enables you to ask
        us, in certain situations, to delete or remove personal data unless our
        processing is specifically permitted under the CCPA.
      </p>
    </li>
    <li>
      <p>
        <b>Right of disclosure for sale of data or use for business purpose </b
        >This enables you to ask us, in certain circumstances, to provide you
        with the categories personal data and third parties we disclose for sale
        or business purposes. As TCS does not sell your personal data under any
        circumstances, this right may only apply where TCS discloses your
        personal data for a business purpose.
      </p>
    </li>
    <li>
      <p>
        <b>Data portability: </b>This enables you to ask us, in certain
        circumstances, to provide you with the personal data you have provided
        to us in a structured, commonly used and machine-readable format or to
        transmit the personal data that you have provided to us to another
        party.
      </p>
    </li>
    <li>
      <p>
        <b>Right to opt-out</b>: This enables you to opt-out of the sale of your
        personal data by a business to other third parties. As TCS does not sell
        your personal data under any circumstances, this right does not apply to
        your personal data with TCS.
      </p>
    </li>
    <li>
      <p>
        <b>Right to non-discrimination</b>: This specifies that TCS will not
        discriminate against you in any way or under any circumstance for
        exercising your rights to your data under the CCPA.
      </p>
    </li>
    <li>
      <p>
        <b>Right to withdraw consent</b>: In the limited circumstances where you
        may have provided your consent to the collection, processing and
        transfer of your personal data for a specific purpose, you have the
        right to withdraw your consent for that specific processing at any time.
        To withdraw your consent, please contact our Privacy Officer (see
        contacts below). Once we have received notification that you have
        withdrawn your consent, we will no longer process your information for
        the purpose or purposes you originally agreed to, unless we have another
        legal basis for doing so.
      </p>
    </li>
  </ul>
  <p>
    If you are a US resident and want to exercise one of the above rights in
    connection to your personal data, please contact our US Privacy Officer (see
    contacts below).
  </p>
  <p>&nbsp;</p>
  <p><b>What we may need from you</b></p>
  <p>
    If you exercise one of the above rights, we may need to request specific
    information from you to help us confirm your identity and that you are
    entitled to make such a request. This is to ensure that personal data is not
    disclosed to any person who has no right to receive it.
  </p>
  <p>&nbsp;</p>
  <p><b>Right to withdraw consent</b></p>
  <p>
    In the limited circumstances where you may have provided your consent to the
    collection, processing and transfer of your personal data for a specific
    purpose, you have the right to withdraw your consent for that specific
    processing at any time. To withdraw your consent, please contact our Data
    Protection Officers (see contacts below). Once we have received notification
    that you have withdrawn your consent, we will no longer process your
    information for the purpose or purposes you originally agreed to, unless we
    have another legal basis for doing so.
  </p>
  <h2>Data Protection Officer</h2>
  <p>
    We have appointed Data Protection Officers (DPOs) to oversee compliance of
    TCS with applicable data protection laws and with this privacy notice. If
    you have any questions about this privacy notice or how we handle your
    personal data, please contact the DPO in your region:
  </p>
  <table class="table-responsive" border="0" cellpadding="7" cellspacing="0">
    <tbody>
      <tr>
        <td width="297" height="27">
          <p><b>Data Protection Officer for UK and Ireland</b></p>
          <p><a>DPO.uki</a></p>
          <p>&nbsp;</p>
          <p><b>Data Protection Officer for the United States:</b></p>
          <p><a>US.Privacy</a></p>
        </td>
        <td width="297">
          <p><b>Data Protection Officer for Continental Europe</b></p>
          <p><a>DPO.Europe</a></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>Data protection supervisory Authority under <b>GDPR</b></h2>
  <p>
    If you're not satisfied of how we process your personal data and the
    processing of your personal information is subject to the EU GDPR, you can
    lodge a complaint at any time to our Data Protection Officers or to the
    relevant data protection supervisory Authority; you can find the complete
    list of the European Authorities <a>here</a>.
  </p>
  <h2>Changes to this privacy statement</h2>
  <p>
    We reserve the right to update this privacy notice at any time, and we will
    provide you with a new privacy notice when we make any substantial updates.
    We may also notify you in other ways from time to time about the processing
    of your personal data.
  </p>
  <p style="text-align: center;">[Last updated : 35 Dec 2019]</p>
  <p>&nbsp;</p>
</div>
