<div class="slide" id="my">
  <div class="btext m-auto w-100 text-center">
    <span class="my font-weight-normal text-white">OUR PRIVACY POLICY</span>
  </div>
  <div class="innerdiv1"></div>
  <div class="innerdiv2"></div>
</div>

<div class="content font-weight-normal ml-auto mr-auto w-80 mt-4">
  <h2>Introduction</h2>

  <p>
    <b>For residents (consumers) of the United States</b>, when we collect and
    use personal information about you, we may be subject to the California
    Consumer Protection Act (<b>CCPA</b>) and responsible as a ‘business’ or
    ‘service provider’ for such personal data.
  </p>
  <p>
    Please note: all information in this privacy notice is applicable to you
    unless otherwise indicated based on your residency status. If you are a
    resident of the European Union, references to <b>GDPR </b>will be applicable
    to you. If you are a resident of the Unites States, references to the
    <b>CCPA</b> will be applicable to you.
  </p>
  <p>
    We are required under data protection legislation to notify you of the
    information contained in this privacy notice. It is important that you read
    this notice, together with any additional and more specific information we
    may provide to you on various occasions when we are collecting or processing
    personal data on certain specific websites, products or applications, events
    and initiatives so that you are aware of how and why we are using such
    information. (We issue a different privacy statement which applies where
    there is an employment relationship between SHIKSHA-DURAT and its
    employees.)
  </p>
  <h2>How we will use your personal information</h2>
  <p>
    We may collect different kinds of personal information in a number of
    different ways and use it for a number of different purposes:
  </p>
  <ul>
    <li><b>To ensure access to our website and online services.</b></li>
    <p>
      In general, you can visit SHIKSHA-DURAT on the World Wide Web without
      telling us who you are. Our web servers or Affiliates who provide
      analytics and performance enhancement services may collect
    </p>
    <li><b>To ensure access to our website and online services.</b></li>
    <p>
      In general, you can visit SHIKSHA-DURAT on the World Wide Web without
      telling us who you are. Our web servers or Affiliates who provide
      analytics and performance enhancement services may collect
    </p>
  </ul>
</div>
