<div class="container-fluid shadow">
  <div class="row mb-1 mr-2 float-sm-right clearfix">
    <button (click)="startSession()" type="button" class="btn btn-warning">
      Start Session
    </button>
  </div>
  <div
    class="form-inline md-form justify-content-right form-sm mt-0 searchForm active-cyan-2"
  >
    <input
      class="form-control form-control-sm w-25"
      type="text"
      [(ngModel)]="studentName"
      placeholder="Search"
      aria-label="Search"
    />
    <i class="fa fa-search ml-3" aria-hidden="true"></i>
  </div>
  <div class="wrapper">
    <table class="table table-hover scrollx scrolly">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Class</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let student of students | StudentFilter: studentName;
            let i = index
          "
        >
          <td>{{ student.student_id }}</td>
          <td>{{ student.first_name + " " + student.last_name }}</td>
          <td>{{ student.email }}</td>
          <td>
            <select
              (change)="changeClass($event.target.value, student.student_id)"
            >
              <option
                *ngFor="let class of classList"
                value="{{ class.class_id }}"
                [selected]="student.class_id == class.class_id"
              >
                {{ class.class_name }}
              </option>
            </select>
          </td>
          <td>
            <i
              (click)="removeStudent(student.student_id)"
              class="fa fa-minus-circle"
            >
            </i>
          </td>
        </tr>
      </tbody>
    </table>
    <h3
      *ngIf="
        students !== undefined &&
        (students | StudentFilter: studentName).length === 0
      "
      class="text-center mt-5"
    >
      No results found
    </h3>
  </div>
</div>
