<div class="container-fluid p-0 m-0 wr">
  <div class="background">
    <div class="overlay mt-n2 pt-1" *ngIf="showoverlay" #overlay>
      <app-notes-board
        [noteHeading]="noteHeading"
        [noteDescription]="noteDescription"
      ></app-notes-board>
    </div>

    <div class="row mt-2 no-gutters" *ngIf="!showoverlay">
      <div class="col-12 col-lg-3">
        <div class="card-outer navSlide m-2">
          <div class="card-body">
            <div class="card-inner m-auto">
              <ul class="text-center nav nav-pills flex-column" role="tablist">
                <li
                  class="nav-item"
                  *ngFor="
                    let subject of resultForSyllabusAndSamplePaper;
                    let isFirst = first
                  "
                  (click)="
                    selectSubject(subject.subject_id, subject.subject_name)
                  "
                >
                  <a
                    class="nav-link m-3 my-3"
                    [class.active]="isFirst"
                    data-toggle="pill"
                  >
                    <h5>
                      {{ subject.subject_name }}
                    </h5></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        <div
          class="card-second formSlide p-1 m-2"
          *ngIf="selectedSubjectDetails && selectedSubjectDetails.length > 0"
        >
          <div class="tab-content">
            <div class="card-body">
              <div
                class="card-header ml-0 font-weight-bold text-white text-center"
              >
                {{ selectedSubjectDetails[0].subject_name }}
                {{ btnLabel == "Sample Paper" ? "Syllabus" : "Sample Paper" }}
              </div>
              <div id="accordionSamplePaper">
                <div class="card m-auto">
                  <div class="card-body" [hidden]="!getStatus()">
                    <ul
                      *ngFor="
                        let paper of selectedSubjectDetails[0].samplePapers
                      "
                      class="pl-5"
                    >
                      <li class="text-dark font-weight-bold">
                        {{ paper.sample_paper_name }}
                        <a
                          class="btn btn-secondary float-right"
                          href="{{ paper.sample_paper_url }}"
                          target="_blank"
                        >
                          View
                        </a>
                      </li>
                    </ul>

                    <div
                      [hidden]="
                        selectedSubjectDetails[0].samplePapers.length >= 1
                      "
                    >
                      <p class="text-center text-dark">
                        {{
                          btnLabel == "Sample Paper"
                            ? "Syllabus"
                            : "Sample Paper"
                        }}
                        not available.
                      </p>
                    </div>
                  </div>
                  <div class="card-body p-3" [hidden]="getStatus()">
                    <ul class="pl-3">
                      <li
                        *ngFor="let topic of selectedSubjectDetails[0].topics"
                        class="text-dark font-weight-bold p-2"
                      >
                        {{ topic.topic_name }}

                        <button
                          class="btn btnNotes text-white p-1 float-right"
                          [disabled]="topic.notes.length == 0"
                          (click)="showNotes(topic.notes[0])"
                        >
                          View notes
                        </button>
                      </li>
                    </ul>

                    <div
                      [hidden]="selectedSubjectDetails[0].topics.length >= 1"
                    >
                      <p class="text-center text-dark">
                        {{
                          btnLabel == "Sample Paper"
                            ? "Syllabus"
                            : "Sample Paper"
                        }}
                        not available.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
