.classSlide {
  left: -1600px;
  animation: classSlide 2s forwards;
}

@keyframes classSlide {
  100% {
    left: 0;
  }
  0% {opacity: 0;}
10%{opacity: 0.10;}
15%{opacity: 0.15;}
25%{opacity: 0.25;}
35%{opacity: 0.35;}
50%{opacity: 0.50;}
60%{opacity: 0.60;}
75%{opacity: 0.75;}
85%{opacity: 0.85;}
100% {opacity: 1;}
}
th{
  padding-top: 12px;
  /* padding-bottom: 12px; */
  text-align: left;
  background-color: #0033a0;
  color: white;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
tr{
 text-align: center;
}
.table{
  position: relative;
}
th {
   position: sticky;
  top: 0; 
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

