<nav class="bg-dark-blue navbar navbar-expand-lg static-top" id="men">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#">
        <img
          src="http://placehold.it/150x50?text=Logo"
          style="width: 80px;"
          alt="eLearning logo"
        />
      </a>
    </div>

    <div id="navbarResponsive">
      <ul class="d-flex list-unstyled m-auto">
        <li>
          <a
            tabindex="0"
            class="f6 pr-3 text-light font-weight-bold"
            (click)="scrollLogin()"
            >Sign in</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="f6 text-light font-weight-bold"
            (click)="navigateToRegistration()"
            >Sign up</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
