.card-header,
.add-btn {
  background-color: #009688;
}
.inside div:after {
  content: "\f077";
  position: absolute;
  font-family: "FontAwesome";
  right: 0.5em;
  top: 0.5em;
  font-size: 1.3em;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.inside.collapsed div:after {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #93ddeb;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 993px) {
  .dropdown-content {
    right: 100%;
    margin-top: -45px;
  }
}
