@media only screen and (max-width: 767px) {
  .carousel {
    display: none;
  }
}
#carouselExampleIndicators {
  margin-top: 0%;
}
.carousel-item {
  position: relative !important;
}
.carousel-caption {
  right: initial;

  width: 500px;
  z-index: 10;
  top: 35%;
  left: 8%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #555961;
  opacity: 0.5;
}
