.min-vh {
  height: calc(100vh - 72.5px);
}
@media (min-width: 769px) {
  .wide {
    width: 100% !important;
  }
  .carousel-caption {
    width: 500px;
    top: 55%;
    left: 50px;
    font-size: 1.5em;
  }

  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translate3d(0, 500px, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }
}

.animated {
  animation-duration: 1.5s;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInBottom {
  animation-name: fadeInBottom;
}

.carousel-item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}
