@media only screen and (max-width: 767px) {
  .carousel {
    display: none;
    margin-top: 0%;
  }
}

@media only screen and (min-width: 1366px) {
  .image {
  height:90vh;
  }
}

.carousel-caption {
  right: initial;
  width: 500px;
  top: 1%;
  left: 10px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #0a0003;
  opacity: 0.72;
}

