<div id="slider" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-target="#slider" data-slide-to="0"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="overlay">
        <img
          class="wide d-block min-vh"
          src="../../../assets/carouselimages/e1.jpg"
          alt="First Slide"
        />
      </div>
      <div class="carousel-caption animated fadeInBottom">
        <h3>{{ labels.CAROUSLE_HEADING }}</h3>
        <p>{{ labels.CAROUSLE_TITLE }}</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="overlay">
        <img
          class="wide d-block min-vh"
          src="../../../assets/carouselimages/e2.jpg"
          alt="Second Slide"
        />
      </div>
      <div class="carousel-caption animated fadeInBottom">
        <h3>{{ labels.CAROUSLE_HEADING }}</h3>
        <p>{{ labels.CAROUSLE_TITLE }}</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="overlay">
        <img
          class="wide d-block min-vh"
          src="../../../assets/carouselimages/e3.jpg"
          alt="Third Slide"
        />
      </div>
      <div class="carousel-caption animated fadeInBottom">
        <h3>{{ labels.CAROUSLE_HEADING }}</h3>
        <p>{{ labels.CAROUSLE_TITLE }}</p>
      </div>
    </div>
  </div>

  <a href="#slider" class="carousel-control-prev" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>

  <a href="#slider" class="carousel-control-next" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
