<div class="container-fluid">
  <div class="profile-header w-100 d-flex">
    <div class="profile-img">
      <img
        src="../../../assets/userImage.png"
        width="200"
        alt="Profile Image"
      />
    </div>

    <div class="profile-option">
      <div class="notification">
        <i class="fa fa-gear"></i>
      </div>
    </div>
  </div>

  <div class="main-bd">
    <div class="left-side">
      <div class="profile-side">
        <h3 class="user-name text-center">Student Name</h3>
        <p id="state" class="state text-center">Class 9th B</p>
        <h6 class="mobile-no m-3">
          <i class="fa fa-phone"></i> +91-7785478547
        </h6>
        <h6 class="user-mail m-3">
          <i class="fa fa-envelope"></i> test@gmail.com
        </h6>
        <h6 class="user-school m-3">
          <i class="fa fa-id-card-o"></i> Test Public School
        </h6>
        <div class="profile-btn">
          <button class="chatbtn" id="chatBtn">
            <i class="fa fa-pencil"></i> Edit
          </button>
          <button class="createbtn" id="Create-post">
            <i class="fa fa-plus"></i> Button
          </button>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="container mt-5">
      </div>
    </div>
  </div>
</div>
