.left-side {
  background-color: white;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.right-side {
  height: 80vh;
  background-color: #3994eb;
}
.fa-check-circle {
  color: #35922e;
}
.right-side {
  height: 80vh;
}
.verify {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  font-size: 4vw !important;
}
.wrapper {
  min-height: calc(100vh-75px);
  background-color: #3994eb;
}
.verify-btn {
  border-radius: 20px;
}
input[type="text"]::placeholder {
  text-align: center;
}
.otp-input {
  border-radius: 20px !important;
}
