.brand-wrapper .logo {
  width: 37px;
}
.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(163, 167, 191, 0.43);
  overflow: hidden;
}
.login-card-img {
  padding: 20%;
  position: absolute;
  margin-top: 25%;
}
