.slider {
  height: 36px;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 50%;
  float: right;
  transition: width 1s;
  transition-timing-function: ease;
  background-image: linear-gradient(
    to right,
    #000428 0%,
    #004e92 51%,
    #000428 100%
  );
  margin-bottom: 5px !important;
  margin-right: -15px;
}

.slider:hover {
  background-position: right center;
}

.show {
  transition: width 1s;
  transition-timing-function: ease;
  z-index: 0;
  width: 100%;
}
.ic {
  display: none;
  position: absolute;
  float: right;
  right: 0;
  z-index: 1;
}
.showbtn {
  display: block;
}
.inside-list {
  overflow: hidden;
}
.other {
  display: flex;
  background-color: #1f618d;
  border-top-left-radius: 25px !important;
}

.container-fluid {
  transition: height 1s;
  transition-timing-function: ease;
  height: 0;
  overflow: hidden;
}

.ttgt {
  transition: height 1s;
  transition-timing-function: ease;
  z-index: 1090;
  height: 95%;
}

.clbtn {
  border-radius: 20px;
  border-color: #34495e;
  border-width: 5px;
  background-color: whitesmoke;
}

.background {
  background: linear-gradient(180deg, #455a64 0%, #67818d 100%);
}

.card-link {
  color: Black;
  font-weight: 300;
}
.card-header,
.add-btn {
  background-color: #2874a6;
}
.inside div:after {
  content: "\f077";
  position: absolute;
  font-family: "FontAwesome";
  right: 0.5em;
  top: 0.5em;
  font-size: 1.3em;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.inside.collapsed div:after {
  transform: rotate(180deg);
  transition: all 0.5s;
}
#data {
  margin-top: 15%;
}
.nav-link {
  display: block;
  padding: 0.25rem 1rem;
}
.card-shadow {
  opacity: 0;
  animation: formSlide 1s forwards;
}

@keyframes formSlide {
  100% {
    opacity: 1;
  }
}

.add-btn {
  width: 20%;
}

.left,
.right {
  float: left;
}
