.slider {
  height: 36px;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 50%;
  float: right;
  transition: width 1s;
  transition-timing-function: ease;
  background-image:linear-gradient(to right, #000428 0%, #004e92 51%, #000428 100%);
  margin-bottom:5px !important;
}
.slider:hover { background-position: right center; }

.show {
  transition: width 1s;
  transition-timing-function: ease;
  z-index: 0;
  width: 100%;
}
.ic {
  display: none;
  position: absolute;
  float: right;
  right: 0;
  z-index: 1;
}
.showbtn {
  display: block;
}
.inside-list {
  overflow: hidden;
}
.ttt {
  display: flex;
  background-color: #1F618D;
  height: 0;
  transition: height 1s;
  transition-timing-function: ease;
  clear: both;
  width: 100%;
  border-top-left-radius: 25px !important;
  color: black;
  overflow: hidden;
}

.ttgt {
  transition: height 1s;
  transition-timing-function: ease;
  z-index: 1090;
  height: 95%;
}

.clbtn {
  border-radius: 20px;
  border-color: #34495E ;
  border-width: 5px;
   background-color:whitesmoke;  
  
}

.background {
  background: linear-gradient(180deg, #455a64 0%, #67818d 100%);
}

.card-link {
  color: Black;
  font-weight: 300;
}
.card-header,
.add-btn {
  background-color:#2874A6;
}
.inside div:after {
  content: "\f077";
  position: absolute;
  font-family: "FontAwesome";
  right: 0.5em;
  top: 0.5em;
  font-size: 1.3em;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.inside.collapsed div:after {
  transform: rotate(180deg);
  transition: all 0.5s;
}
#data {
  margin-top: 15%;
}
.form-slide {
  bottom: -700px;
  animation: formSlide 1s forwards;
}
.nav-link {
  display: block;
  padding: .25rem 1rem;
}

@keyframes formSlide {
  100% {
    bottom: 0;
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.25;
  }
  35% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
.add-btn {
  width: 20%;
}

.left,
.right {
  float: left;
}

