.slider {
  height: 36px;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 50%;
  float: right;
  transition: width 1s;
  transition-timing-function: ease;
  background-image: linear-gradient(
    to right,
    #000428 0%,
    #004e92 51%,
    #000428 100%
  );

  margin-right: -15px;
}

.slider:hover {
  background-position: right center;
}

.show {
  transition: width 1s;
  transition-timing-function: ease;
  z-index: 0;
  width: 100%;
}
.ic {
  display: none;
  position: absolute;
  float: right;
  right: 0;
  z-index: 1;
}
.showbtn {
  display: block;
}
.inside-list {
  overflow: hidden;
}
.other {
  display: flex;
  background-image: linear-gradient(
    to right,
    #000428 0%,
    #004e92 51%,
    #000428 100%
  );
  border-bottom-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}

.container-fluid {
  transition: height 1s;
  transition-timing-function: ease;
  height: 0;
  overflow: hidden;
}

.animate {
  transition: height 1s;
  transition-timing-function: ease;
  z-index: 1090;
  height: 95%;
}

.btnwider {
  border-radius: 20px;
  border-color: #455a64;
  border-width: 5px;
  background-color: whitesmoke;
}

.background {
  background: linear-gradient(180deg, #455a64 0%, #67818d 100%);
}

.card-link {
  color: Black;
  font-weight: 300;
}
.card-header,
.add-btn {
  background-color: #2874a6;
}
.inside div:after {
  content: "\f077";
  position: absolute;
  font-family: "FontAwesome";
  right: 0.5em;
  top: 0.5em;
  font-size: 1.3em;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.inside.collapsed div:after {
  transform: rotate(180deg);
  transition: all 0.5s;
}
#data {
  margin-top: 15%;
}
.nav-link {
  display: block;
  padding: 0.25rem 1rem;
}
.formSlide {
  opacity: 0;
  animation: formSlide 2s forwards;
}

@keyframes formSlide {
  100% {
    bottom: 0;
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.25;
  }
  35% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

.add-btn {
  width: 20%;
}

.left,
.right {
  float: left;
}
.btnAdd,
.btnView {
  background-color: #148f77;
}
.btnNotes {
  background-color: #21618c;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  bottom: 30px;
  right: 105%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #93ddeb;
}

.dropdown:hover .dropdown-content {
  display: block;
}
