<footer class="bg-dark-blue text-light mt-5" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Schools Info</h4>
            <ul class="list-unstyled">
              <li><a routerLink="syllabus">NCERT Syllabus</a></li>
              <li><a href="#">Registred Schools</a></li>
              <li><a routerLink="sample-paper">CBSE Sample Papers</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Product Policies</h4>
            <ul class="list-unstyled">
              <li><a routerLink="privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Free Study Material</h4>
            <ul class="list-unstyled">
              <li><a href="#">Kids Learning</a></li>
              <li><a href="#">GK Sessions</a></li>
              <li><a href="#">Competetive Exams Material</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li>
              <a href="#" class="icoFacebook" title="Facebook"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="#" class="icoLinkedin" title="Linkedin"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="#" class="icoFacebook" title="Facebook"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="#" class="icoFacebook" title="Facebook"
                ><i class="fa fa-envelope"></i
              ></a>
            </li>
            <li>
              <a href="#" class="icoFacebook" title="Facebook"
                ><i class="fa fa-mobile"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy-right">
          <p class="text-center">
            &copy; Copyright 2020 - TCS. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
