<div class="container">
  <div class="row mt-3">
    <div class="text-center text-md-left col-12 col-md-6">
      <button
        type="button"
        class="bg-dark-blue btn btn-primary"
        (click)="navigateToBack(true)"
      >
        Back
      </button>
    </div>
    <div class="mt-2 mt-md-0 text-center text-md-right col-12 col-md-6">
      <button
        type="button"
        class="mr-2 btn btn-warning"
        data-toggle="modal"
        data-target="#modalUpdateData"
      >
        Update
      </button>
      <button type="button" class="mr-2 btn btn-danger" (click)="deleteNotes()">
        Delete
      </button>
    </div>
  </div>
</div>
<app-notes-board
  *ngIf="loaded"
  [className]="className"
  [subjectName]="subjectName"
  [topicName]="topicName"
  [noteHeading]="noteArray[0].note_heading"
  [noteDescription]="noteArray[0].note_desc"
  (navigateToBackEvent)="navigateToBack($event)"
></app-notes-board>
<div
  class="modal fade"
  id="modalUpdateData"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md modal-notify modal-danger" role="document">
    <div
      class="modal-content text-left rounded border border-primary bg-light text-dark"
    >
      <div class="modal-header d-flex justify-content-center">
        <p class="heading"><b>Are you sure you want to update?</b></p>
      </div>

      <div class="modal-body">
        <form [formGroup]="editNotesForm">
          <div class="form-group">
            <div class="form-group">
              <label
                ><b><i>Heading</i></b></label
              >
              <input
                type="text"
                formControlName="noteHeading"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f.noteHeading.touched && f.noteHeading.errors
                }"
              />
            </div>
            <div
              *ngIf="f.noteHeading.touched && f.noteHeading.errors"
              class="invalid-feedback"
            >
              <div class="ml-1" *ngIf="f.noteHeading.errors.required">
                Add Heading to the Note*
              </div>
            </div>

            <div class="form-group">
              <label
                ><b><i>Description</i></b></label
              >
              <textarea
                formControlName="noteDesc"
                class="form-control"
                rows="5"
                style="height: 100%"
                [ngClass]="{
                  'is-invalid': f.noteDesc.touched && f.noteDesc.errors
                }"
              ></textarea>
              <div
                *ngIf="f.noteDesc.touched && f.noteDesc.errors"
                class="invalid-feedback"
              >
                <div class="ml-1" *ngIf="f.noteDesc.errors.required">
                  Add Description to Submit!
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer flex-center">
        <button
          (click)="updateNotes()"
          type="submit"
          class="btn btn-primary btn-lg"
          data-toggle="modal"
          data-target="#modalUpdateData"
          [disabled]="!this.editNotesForm.valid"
        >
          Save
        </button>
        <button
          type="submit"
          class="btn btn-danger btn-lg waves-effect"
          data-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
