.animate-bottom {
  position: relative;
  animation: animatebottom 0.8s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
  }

  to {
    bottom: 0;
  }
}

.modal {
  padding: 0 !important;
}
.modal .modal-dialog {
  max-width: none;
}
.modal .modal-body {
  overflow-y: auto;
}
