.formSlide {
  /* bottom: -700px; */
  animation: formSlide 2s forwards;
}

@keyframes formSlide {
  100% {
    bottom: 0;
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  25% {
    opacity: 0.25;
  }
  35% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.75;
  }
  85% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
/* .test {
  position: relative;

} */

/*.slider {
position: fixed;
  bottom:  100px;


  width: 97%;
  height: 15%;
  transition: height 2s;
 
  background-color: rgb(255, 255, 255);
  z-index:1;
overflow: hidden;
}
*/
.slider {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  margin-bottom: -62px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.show {
  width: 97%;
  transition: height 2s;

  height: 60%;
}
.add {
  background: #00205b;
}
.wh {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.text-center {
  width: 100%;
  left: 0;
  margin-bottom: 0;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/*.slider .content {
  width: 97%;
height: 20%;
  display: block;

  top:0;
}
*/
