<div [ngClass]="isAddSamplePaperFormOpen ? 'col-lg-8  ' : 'col-lg-12 m-0 p-0 '">
  <div class="background">
    <h2 class="heading text-white p-3 text-center">View {{ name }}</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="card shadow-lg mb-2 bg-white">
            <div class="card-body">
              <ul class="text-center nav nav-pills flex-column" role="tablist">
                <li
                  class="nav-item"
                  *ngFor="
                    let class of resultForSyllabus || resultForSamperPaper;
                    let i = index;
                    let isFirst = first
                  "
                  (click)="selectClass(class.class_id, class.class_name)"
                >
                  <a
                    class="nav-link m-1"
                    [class.active]="isFirst"
                    data-toggle="pill"
                    href="#class1"
                  >
                    <h5>
                      {{ class.class_name }}
                    </h5></a
                  >
                </li>
                <div *ngIf="!(resultForSyllabus || resultForSamperPaper)">
                  <li class="p-2 nav-link" *ngFor="let i of [].constructor(8)">
                    <app-profile-skeleton Cheight="40"></app-profile-skeleton>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div
            class="card shadow p-2 mb-2 bg-white"
            *ngIf="selectedClassDetails && selectedClassDetails.length > 0"
          >
            <div class="tab-content">
              <div id="class1" class="container tab-pane active">
                <div class="card-body">
                  <div
                    *ngIf="
                      selectedClassDetails[0].subjects.length;
                      else blank_card
                    "
                  >
                    <app-accordion
                      [selectedClassDetails]="selectedClassDetails"
                      [name]="name"
                      [selectedClassName]="selectedClassName"
                      [hasNote]="hasNote"
                      (addNotesChildEvent)="addNotes($event)"
                      (viewNotesChildEvent)="viewNotes($event)"
                      (sortByTopicChildEvent)="sortByTopic($event)"
                      (uploadVideoRecorderChildEvent)="
                        navigateToVideoRecorder($event)
                      "
                      (viewVideoRecorderChildEvent)="
                        navigateToViewVideo($event)
                      "
                      (removeChildEvent)="removeTopic($event)"
                      (unassignSubjectChildEvent)="unassignSubject($event)"
                    ></app-accordion>
                  </div>

                  <ng-template #blank_card>
                    <div
                      class="text-center mb-2 text-lg-left bg-core-blue text-light font-weight-bold card-header"
                    >
                      <span *ngIf="selectedClassName">{{
                        selectedClassName
                      }}</span>
                      {{ name }}
                    </div>
                    <div class="p-3 p-md-5">
                      <div class="card">
                        <div class="card-body">Subjects not available</div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-error-notification-dialog></app-error-notification-dialog>
