<div class="formSlide card">
  <div
    class="text-center text-lg-left bg-core-blue text-light font-weight-bold card-header"
  >
    Add {{ name }}
  </div>
  <div class="card-body">
    <form [formGroup]="addForm">
      <div [hidden]="reviewStatus()">
        <div class="form-group">
          <i class="charcoal">Select Class</i>
          <select
            (change)="selectedClass($event.target.value)"
            class="form-control"
          >
            <option disabled>Choose your class</option>
            <option
              *ngFor="let class of resultForSyllabus"
              value="{{ class.class_id }}"
              >{{ class.class_name }}</option
            >
          </select>
        </div>
        <div class="form-group">
          <i class="charcoal">Select Subject</i>
          <select
            (change)="selectedSubject($event.target.value)"
            class="form-control"
          >
            <option disabled>Choose your subject</option>
            <option *ngIf="subjectList !== undefined && subjectList.length===0" disabled>Subjects not available</option>
            <option
              *ngFor="let subject of subjectList" 
              value="{{ subject.subject_id }}"
              >{{subject.subject_name}}</option 
            >
          </select>
        </div>
      </div>
      <div class="form-group">
        <i class="charcoal">{{ name }} Name</i>
        <input class="form-control" formControlName="itemName" type="text" />
      </div>
      <div [hidden]="getStatus()">
        <div  class="form-group">
           <i   class="charcoal">Sample Paper Url</i>
             <input class="form-control" id="itemUrl" name="itemUrl" type="text" />
         </div>
       </div>
      <div>
        <button [hidden]="displayStatus()" id="myDIV"
          [ngClass]="loader ? 'bg-light' : 'bg-core-orange'"
          class="br-10 mx-auto add-btn b-core-orange btn btn-block text-light font-weight-bold py-3 mb-3"
          type="button"
          (click)="add()"
          [disabled]="addForm.invalid"
        >
          <span *ngIf="loader; else button">
            <div class="loading pt-1">
              <div class="mt-2 mx-2"></div>
              <div class="mt-2 mx-2"></div>
              <div class="mt-2 mx-2"></div>
            </div>
          </span>
          <ng-template #button>
            <span>Add {{ name }}</span>
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</div>