<app-home-header></app-home-header>
<div class="pic">
  <div class="container d-flex justify-content-center h-100vh">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <p>Reset Password</p>
          </div>
          <div class="col-6 text-right mt-1">
            <i class="fa fa-lock"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4 text-center">
            <span class="font-weight-bold text-white">OTP</span>
            <input
              type="password"
              class="form-control text-center"
              id="exampleInputPassword1"
              placeholder="one time passsword"
            />
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4 offset-md-4 text-center">
            <form [formGroup]="">
              <div class="form-group">
                <label for="newpassword" class="text-white">New Password</label>
                <input
                  type="password"
                  formControlName="newPassword"
                  class="form-control"
                  placeholder=""
                />
              </div>
              <div class="form-group">
                <label for="confirm" class="text-white"
                  >Confirm New Password</label
                >
                <input
                  type="password"
                  formControlName="confirm"
                  class="form-control"
                  placeholder=""
                />
              </div>

              <button type="submit" class="btn btn-primary w-100">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-home-footer></app-home-footer>
