.form-label-group {
    margin-bottom: 1rem;
  }
  
  .box{
    display: block;
    height: 500px;
  }

.invalid-feedback{
    text-align: left;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .box{
    display: block;
    height: 750px;
    margin-bottom: 100px;
  }

 .w-75{
   width: 92% !important;
 }

 .formSlideLeft {
  margin-left: -570px ;
  animation: formSlideLeft 1.5s forwards ;
}

@keyframes formSlideLeft {
  100% {
  margin-left : 4% ;
  }
}


.formSlideRight {
  margin-right: -570px ;
  animation: formSlideRight 1.5s forwards ;
}

@keyframes formSlideRight {
  100% {
    margin-right : 4% ;
  
  }
}

.formSlideRightReturn {
  margin-right: 4% ;
  animation: formSlideRightReturn 2s forwards ;
}

@keyframes formSlideRightReturn {
  100% {
    margin-right : -570px ;
  }
}

.formSlideLeftReturn {
  margin-left: 4% ;
  animation: formSlideLeftReturn 2s forwards ;
}

@keyframes formSlideLeftReturn {
  100% {
    margin-left : -570px ;
  }
}


}

@media only screen and (min-width: 700px) {
.formSlideLeft {
  margin-left: -1600px ;
  animation: formSlideLeft 1.5s forwards ;
}

@keyframes formSlideLeft {
  100% {
    margin-left : 12% ;
  }
}


.formSlideRight {
  margin-right: -1600px ;
  animation: formSlideRight 1.5s forwards ;
}

@keyframes formSlideRight {
  100% {
    margin-right : 12% ;
  }
}

.formSlideRightReturn {
  margin-right: 12% ;
  animation: formSlideRightReturn 2s forwards ;
}

@keyframes formSlideRightReturn {
  100% {
    margin-right : -1600px ;
  }
}

.formSlideLeftReturn {
  margin-left: 12% ;
  animation: formSlideLeftReturn 2s forwards ;
}

@keyframes formSlideLeftReturn {
  100% {
    margin-left : -1600px ;
  }
}
}