<div class="container-fluid">
  <div *ngIf="!isMobile" class="row">
    <div class="col-12">
      <div class="text-center text-md-right">
        <button
          class="my-3 add-btn bg-core-orange br-10 b-core-orange btn text-light font-weight-bold py-3"
          type="button"
          (click)="openAddClassForm()"
        >
          <span>Add Topic</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="isMobile; else desktop" class="col-12 my-3">
      <div class="bg-light zindex-fixed fixed-bottom w-100 slider" #slider>
        <div class="d-flex justify-content-center">
          <div class="col-12 p-2">
            <div (click)="sliderOpen()" class="pointer text-center">
              <i id="favIcon" class="charcoal fa-3x fa fa-angle-double-up"></i>
            </div>
            <app-common-add
              name="Topic"
              (childEvent)="addTopic($event)"
              (touchEvent)="formToggle($event)"
            ></app-common-add>
          </div>
        </div>
      </div>
    </div>
    <ng-template #desktop>
      <div *ngIf="isAddClassFormOpen" class="form-slide col-lg-4">
        <app-common-add
          (childEvent)="addTopic($event)"
          name="Topic"
        ></app-common-add>
      </div>
    </ng-template>
    <div [ngClass]="isMobile || isAddClassFormOpen ? 'col-lg-8' : 'col-lg-12'">
      <div *ngIf="isContentFound; else contentNotFoundCard">
        <app-common-view
          [viewList]="topicList"
          name="Topic"
          (childEvent)="removeTopic($event)"
          (editChildEvent)="editTopic($event)"
        ></app-common-view>
      </div>
      <ng-template #contentNotFoundCard> Content Not Found </ng-template>
    </div>
  </div>
</div>

<app-success-notification></app-success-notification>
